.intro__quote-author {
  text-align: right;
  font-size: 1.5rem;
  line-height: 1.4166;
  margin: 0 0 32px 0;
  padding: 0;
  font-weight: 400;
  grid-area: 3 / 1 / 4 / 2;
}
@media (max-width: 500px) {
  .intro__quote-author {
    line-height: 1.25;
    grid-area: 3 / 1 / 4 / 3;
  }
}