.cover__paragraph {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.222;
  max-width: 50%;
  grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 440px) {
  .cover__paragraph {
    font-size: 0.875rem;
    line-height: 1.14285714;
  }
}
@media (max-width: 30px) {
  .cover__paragraph {
max-width: 60%;
  }
}