/* .cover__text-box {
  text-align: center;
  margin: 0 auto;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 137px 1fr;
  grid-template-rows: repeat(2, min-content) 48px;
  gap: 32px 0px;
  grid-auto-flow: row;
}
@media (max-width: 320px) {
  .cover__text-box {
    gap: 16px 0px;
  }
} */
.cover__text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px 0px;
}