.place__paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6111;
  padding: 0;
  margin: 0;
}
@media (max-width: 778px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.63;
  }
}
