.intro__text {
  font-size: 1rem;
  line-height: 1.625;
  margin: 0;
  padding: 0;
  font-weight: 400;
  grid-area: 4 / 1 / 5 / 2; 
}
@media (max-width: 500px) {
  .intro__text  {
    line-height: 1.25;
    grid-area: 4 / 1 / 5 / 3;
  }
}