.intro {
  display: grid;
  margin: 0 auto 118px;
  grid-template-columns: 785px 1fr;
  max-width: 984px;
}
@media (max-width: 990px) {
  .intro {
    margin: 0 auto 88px;
    grid-template-columns: 24px 1fr 24px;
  }
}
@media (max-width: 435px) {
  .intro {
    margin: 0 auto 90px;
    grid-template-columns: 16px 1fr 16px;
  }
}
