.root {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;;
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    color: #FFFFFF;
}

@media (max-width : 320px) {
    .root {
        max-width: 320px;
    }
}
@media (max-width : 768px) {
    .root {
        max-width: 768px;
    }
}