.cover {
  background-image: url("../../../images/cover/cover-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  margin: 0 auto 92px;
  max-width: 1184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
    min-height: 746px;
  }
}
@media (max-width: 440px) {
  .cover {
    min-height: 254px;
  }
}
@media (max-width: 320px) {
  .cover {
    margin: 0 auto 64px;
  }
}
