.cover {
  display: grid;
  height: calc(0.664 * 100vw);
  height: 100vw;
  max-height: 740px;
  grid-template-columns: 48px 1fr 48px;
  grid-template-areas: ". cover__background .";
  margin: 0 auto 92px;
}
.cover__background {
  grid-area: cover__background;
}

@media (max-width: 1185px) {
  .cover {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "cover__background cover__background cover__background";
  }
}
@media (max-width: 768px) {
  .cover {
    margin: 0 auto 88px;
    max-height: 746px;
  }
}
@media (max-width: 320px) {
  .cover {
    margin: 0 auto 64px;
    max-height: 254px;
  }
}
