.cover__background {
  background-image: url("../../../images/cover/cover-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;
}
/* }
.cover__background:after {
  padding-top: 75%;
  display: block;
  content: '';
} */